.main-box{
    height: 1721px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 52px;
    gap: 48px;  
}
.header-box{
    height: 178px;
    width: 1336px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title1{
    color: #282828;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 4px;
}
.header-title2{
    font-size: 64px;
    color: #282828;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
} 
.header-text{
    font-size: 20px;
    width: 760px;
    height: 70px;
    text-align: center;
    color: #5F6980;
    font-family: 'Inter', sans-serif;
}
/* end header */
.cards{
    height: 908px;
    width: 1336px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.row{
    height: 430px;
    width:1336px;
     flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content{
    height: 430px;
    width: 310px;
    margin-bottom: 48px;
    margin-left: 23px;
    background-color: #EAECF0;
}
.img{
    display: block;
}
.info{
    height: 30px;
    width: 278px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:16px;
}
.content-title1{
    width: 278px;
    font-size: 18px;
    margin-bottom: 4px;
    color: #282828;
    font-family: 'Inter', sans-serif;
}
.content-title2{
    width: 278px;
    font-size: 14px;
    margin-bottom: 4px;
    color: #3E3E59;
    font-family: 'Inter', sans-serif;
}
.content-text{
    width: 278px;
    font-size: 14px;
    margin-bottom: 24px;
    color: #5F6980;
    font-family: 'Inter', sans-serif;
}
.social-icon{
    height: 36px;
    width: 278px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icons{
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 36px;
    border-radius: 50%;
    background-color: #c7c9cd;
}
/* end  main section */
.footer{
    height: 512px;
    width: 1654px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px;
    background-color: #53535354;
}
.main-footer{
    height: 223px;
    width: 1306px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 64px;
   
}
.footer-text-1box{
    margin-top: 32px;
    margin-bottom: 32px;
    width: 306px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}
.second{
    height: 223px;
    width: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    margin-left: 150px;

}
.title-footer1{
    margin-bottom: 90px;
    font-size: 20px;
    color: #1E1E1E;
    font-family: 'Inter';

}
.home{
    font-size: 14px;
    font-family: 'Inter';
    color: #535353;
    margin-bottom: 15px;    
}
.services{
    height: 223px;
    width: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-title{
    margin-bottom: 55px;
    font-size: 20px;
    color: #1E1E1E;
    font-family: 'Inter';

}
.about{
    margin-bottom: 15px;
    font-size: 14px;
    color: #535353;
    font-family: 'Inter';
}
.language{
    height: 127.449951171875px;
    width: 107px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 108px;
}
.english{
    width: 107px;
    margin-left: 255px;
    font-size: 20px;
    color: #1E1E1E;
    font-family: 'Inter';
}
.blue-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 73px;
    height: 45px;
    width: 80px;
    color: #FFFFFF;
    background-color: #054A68;
}